@import "tailwindcss";

@layer base {
  * {
    flex-shrink: 0;
  }

  /* Always use pointer cursor on buttons. */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    background-color: var(--color-bg);
  }
}

html {
  min-width: 20rem;
}

@theme {
  --font-sans: "Mona Sans", system-ui, sans-serif;

  --color-*: initial;
  --color-bg: hsl(220, 15%, 8%);
  --color-bg-raised: hsl(220, 15%, 12%);
  --color-fg: hsla(220, 50%, 80%, 80%);
  --color-fg-strong: white;
  --color-fg-weak: hsla(220, 80%, 80%, 60%);
  --color-accent: hsl(140, 75%, 45%);
  --color-accent-text: hsl(140, 80%, 55%);
  --color-soft-accent: hsla(140, 75%, 45%, 10%);
  --color-on-accent: black;
  --color-soft-border: hsla(220, 100%, 80%, 20%);
  --color-soft: hsla(220, 100%, 80%, 20%);
  --color-soft-hover: hsla(220, 100%, 80%, 10%);
  --color-soft-active: hsla(220, 100%, 80%, 15%);

  --shadow-*: initial;
  --shadow-sidebar: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.25);

  --breakpoint-*: initial;
  --breakpoint-desktop: 48rem;
}

@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: swap;
  src: url(/mona-sans.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
